
<div id="map" style = 'width:100%;height:100vh;' >
     <app-popup></app-popup>
</div>

<div id="legend" class="legend">
    <span>Pollutant concentration in μg/m3</span> 
    <hr>
    <ul>
         <li>SO₂ - Dióxido de enxofre [0 - 350]</li>
         <li>NO₂ - Dióxido de nitrogênio [ 0 - 200]</li>
         <li>O₃&nbsp;&nbsp;-&nbsp; Ozônio [0 - 180]</li>
         <li>CO  - Monóxido de carbono [0 - 15400]</li>
         <li>PM₁₀  - Particulas Inaláveis [ 0 -200]</li>
         <li>PM₂.₅  - Particulas fina [0 - 75]</li>

     </ul>
 </div>

 
<router-outlet />


