.map {
  width: 100%;
  height: 400px;
  min-height: 300px;
}

.legend {
  position: absolute;
  bottom: 10px;
  left: 75%;
  background:rgba(255, 255, 255, 0.7); 
  padding: 10px;
  border-radius: 1rem;
  z-index: 1000; 
  width: 270px;
}


.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}




@media screen and (max-width: 1024px) {
  .legend {
    left: 50%;
    transform: translateX(-50%);
    min-width: 180px;
  }
}


@media screen and (max-width: 600px) {
  .legend {
    font-size: 0.9rem;
    min-width: 180px;
  }
}




